<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
  <!-- plugins:css -->
    {% load static %}
  <link rel="stylesheet" href="{% static 'questions/vendors/iconfonts/mdi/css/materialdesignicons.min.css'%}">
  <link rel="stylesheet" href="{% static 'questions/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'questions/vendors/css/vendor.bundle.addons.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static "questions/css/style.css" %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static "questions/images/favicon.png"%}" />
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    var button = document.getElementById('Submit');
                    button.form.submit();
                    alert("time up");
                }
            }, 1000);
        }

        var next = 0;
        function nextblock() {
            document .getElementById("part"+next).style.display='none';
            document .getElementById("part"+(++next)).style.display='block';
            if(next==1){
                document.getElementById("nextbut").style.display='none';
            }
        }

        window.onload = function () {
            var fiveMinutes = 60 * 40,
                display = document.querySelector('#time');
            startTimer(fiveMinutes, display);
        };
    </script>
</head>

<body>
    {% load static %}
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
          <img src="{% static " questions/images/logo.svg "%}" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="index.html">
          <img src="{% static " questions/images/logo-mini.svg "%}" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
          <li class="nav-item">
            <a href="#" class="nav-link">Schedule
              <span class="badge badge-primary ml-1">New</span>
            </a>
          </li>
          <li class="nav-item active">
            <a href="#" class="nav-link">
              <i class="mdi mdi-elevation-rise"></i>Reports</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="mdi mdi-bookmark-plus-outline"></i>Score</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-file-document-box"></i>
              <span class="count">7</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
              <div class="dropdown-item">
                <p class="mb-0 font-weight-normal float-left">You have 7 unread mails
                </p>
                <span class="badge badge-info badge-pill float-right">View all</span>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="{% static 'questions/images/faces/face4.jpg' %}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium text-dark">David Grey
                    <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    The meeting is cancelled
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="{% static 'questions/images/faces/face2.jpg' %}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium text-dark">Tim Cook
                    <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    New product launch
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="{% static 'questions/images/faces/face3.jpg' %}" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-medium text-dark"> Johnson
                    <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                  </h6>
                  <p class="font-weight-light small-text">
                    Upcoming board meeting
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell"></i>
              <span class="count">4</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <a class="dropdown-item">
                <p class="mb-0 font-weight-normal float-left">You have 4 new notifications
                </p>
                <span class="badge badge-pill badge-warning float-right">View all</span>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="mdi mdi-alert-circle-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                  <p class="font-weight-light small-text">
                    Just now
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="mdi mdi-comment-text-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                  <p class="font-weight-light small-text">
                    Private message
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="mdi mdi-email-outline mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                  <p class="font-weight-light small-text">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Hello, {{ user }}!</span>
              <img class="img-xs rounded-circle" src="{% static 'questions/images/faces/face1.jpg' %}" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item p-0">
                <div class="d-flex border-bottom">
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
                    <i class="mdi mdi-account-outline mr-0 text-gray"></i>
                  </div>
                  <div class="py-3 px-4 d-flex align-items-center justify-content-center">
                    <i class="mdi mdi-alarm-check mr-0 text-gray"></i>
                  </div>
                </div>
              </a>
              <a class="dropdown-item mt-2">
                Manage Accounts
              </a>
              <a class="dropdown-item">
                Change Password
              </a>
              <a class="dropdown-item">
                Check Inbox
              </a>
              <a class="dropdown-item">
                Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>

        <div class="content-wrapper">
          <div class="row purchace-popup">

            <div class="col-12">
              <br>
              <br>
          </div>

            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">IELTS-General Sample Test</h4>
                    <div align="center">Time Left <span id="time">40:00</span> minutes!</div>
                    <div align="right" id="nextbut" style="display: block">
                <button type="button" class="btn btn-outline-success" onclick="nextblock()">Next</button>
                    </div>
                </div>
              </div>
            </div>
          </div>


        <form method="POST">
            {% csrf_token %}
        {% for obj in writing %}

          {% if obj.test_name == "Writing Test 1" %}
          <input type="hidden" name="test_name" value="{{ obj.test_name }}">



            {% for objw in write %}
              {% if objw.Question_Name == obj.ques1.Question_Name %}
        <div id="part0" class="content-wrapper" style="display: block">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ objw.timeInstruction}}</h5>
                  <h4 class="card-title text-primary">{{ objw.Question }}</h4>

              <div align="justify">
                <p>{{ objw.wordInstruction }}</p>
                {% if objw.image_ques %}
                <img src="{{ objw.image_ques.url }}">
                  {% endif %}
              </div>

                  <div class="table-responsive">

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title text-primary"> {{ obj.Instructions }}</h4>
              <div align="left">
                <div class="col-md-12">
                        <div class="form-group">

                            <input type="hidden" name="ques1_id" value="{{ obj.ques1.id }}">
                      <textarea name = "ans1" class="form-control" id="exampleTextarea1" rows="20"></textarea></br>
                    </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
              {% endif %}
            {% endfor %}
          {% endif %}
      {% endfor %}





      {% for obj in writing %}

          {% if obj.test_name == "Writing Test 1" %}




            {% for objw in write %}
              {% if objw.Question_Name == obj.ques2.Question_Name %}
        <div id="part1" class="content-wrapper" style="display: none">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ objw.timeInstruction}}</h5>
                  <h4 class="card-title text-primary">{{ objw.Question }}</h4>

              <div align="justify">
                <p>{{ objw.wordInstruction }}</p>
                  {% if objw.image_ques %}
                <img src="{{ objw.image_ques.url }}">
                  {% endif %}
              </div>

                  <div class="table-responsive">

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title text-primary"> {{ obj.Instructions }}</h4>
              <div align="left">
                <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" name="ques2_id" value="{{ obj.ques2 }}">
                      <textarea name = "ans2" class="form-control" id="exampleTextarea1" rows="20"></textarea></br>
                            <div align="right">
                <button type="submit" class="btn btn-outline-success" id="Submit">Submit</button>
              </div>
                    </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
              {% endif %}
            {% endfor %}
        </div>
          {% endif %}
      {% endfor %}



        <!--<div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div align="right">
                <button type="button" class="btn btn-outline-danger">Back</button>
              </div>
                </div>
              </div>
            </div>
        -->








        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'questions/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'questions/vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'questions/js/off-canvas.js' %}"></script>
  <script src="{% static 'questions/js/misc.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'questions/js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>
